body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  font-family: "Aldrich", sans-serif;
}

.center-container {
  text-align: center;
}

#time-display {
  font-size: 3em;
  font-family: "Orbitron", sans-serif;
  color: #00ffcc;
  text-shadow: 0 0 10px rgba(0, 255, 204, 0.8), 0 0 20px rgba(0, 255, 204, 0.8),
    0 0 30px rgba(0, 255, 204, 0.8);
}
